html, body {
	height: 100%;
}

body {
	background-color: #777777;
}

#grid-container {
	margin: 5% auto;
	width: 50%;
	height: 75%;
}

.light-cell {
	float: left;
	width: 17%;
	height: 19%;
	margin: 1px;
	border: 1px solid black;
	border-radius: 20%;
	box-shadow: 5px 5px 10px black;
}

.light-cell:nth-child(5n + 1) {
	clear: left;
}

.light-cell:hover {
	border: 1px solid white;
}



.on {
	background: linear-gradient(#fe2, #aa4);
}

.off {
	background: linear-gradient(#111, #222);
}