body {
	background: linear-gradient(#eee, #777);
	height: 100vh;
}

#sidebar {
	float: left;
	width: 25%;
	height: 75%;
  margin-top: 5%;
}

#moves {
	padding: 1%;
  margin-top: 10%;
  margin-left: 10%;
  width: 42%;
  font-size: 1em;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  background: white;
}

button {
	display: block;
	margin-top: 10%;
	margin-left: 10%;
	padding: 5%;
	background: linear-gradient(#fff, #ddd);
	border: 1px solid black;
	border-radius: 15%;
	box-shadow: 1px 1px 2px black;
}

button:hover {
	border: 1px solid white;
}

button:active {
	background: darkgray;
}


#grid-container {
	float: left;
	margin: 5% auto;
	width: 50%;
	height: 75%;
}


.light-cell {
	float: left;
	width: 17%;
	height: 19%;
	margin: 1px;
	border: 1px solid black;
	border-radius: 20%;
	box-shadow: 5px 5px 10px black;
}

.light-cell:nth-child(5n + 1) {
	clear: left;
}

.light-cell:hover {
	border: 1px solid white;
}



.on {
	background: linear-gradient(#fe2, #aa4);
}

.off {
	background: linear-gradient(#111, #222);
}


#win-message {
	clear: both;
	text-align: center;
	font-family: courier;
	font-size: 40px; /*how can I get this to scale properly???? */
	background: linear-gradient(#e48, #d34);
	box-shadow: 0 0 10px white;
}